/********** BASE STYLES **********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background: #fff;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

/********** HEADER STYLES **********/

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 92px;
  width: 100%;
  min-width: 300px;
  background: #2F2235;
  text-align: center;
}

header > h1 {
  font-size: 25px;
  font-weight: 300;
}

.blue-header {
  color: #34D1D1;
}

header > hr {
  margin: 0 40%;
  max-width: 25%;
  border-width: 0 0 1px;
  border-color: #3F3244;
}

header > p {
  font-size: 14px;
}

/********** MAIN STYLES **********/

main {
  display: flex;
  justify-content: center;
  color: #666666;
  text-align: center;
}

.accordion-tabs {
  width: 100%;
  max-width: 1300px;
  min-width: 300px;
  padding-top: 35px;
}

.accordion-header > h2 {
  font-size: 16px;
  font-weight: 300;
}

.accordion-header > hr {
  margin: 12px 40%;
  max-width: 25%;
  border-width: 0 0 1px;
  border-color: #D1D2D3;
}

ol {
  margin: 50px auto;
  width: 90%;
  list-style-type: none;
  border: 1px solid #D1D2D3;
}

.tab-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 12px;
  background: #f2f2f2;
  border: 1px solid #fff;
}

.tab-header > h2 {
  color: #666666;
  font-size: 25px;
  font-weight: 300;
}

.toggle {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: #666666;
  cursor: pointer;
  font-size: 30px;
  font-weight: 300;
}

.info {
  display: none;
  flex-direction: column;
}

.active > .tab-header {
  background: #fff;
}

.active > .tab-header > h2 {
  font-weight: 400;
}

.active > article.info {
  display: flex;
}

.image-container {
  min-height: 151px;
  background-image: url('./assets/northern-lights-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-container {
  padding: 15px;
}

.text-container > h3 {
  color: #000000;
  font-size: 20px;
  text-align: left;
}

.text-container > hr {
  margin: 12px 5%;
  max-width: 90%;
  border-width: 0 0 1px;
  border-color: #D1D2D3;
}

.text-container > p {
  color: #000000;
  font-size: 13px;
  line-height: 1.7;
  text-align: left;
}

.code-link {
  display: block;
  text-decoration: none;
  height: 50px;
  width: 90%;
  min-width: 280px;
  max-width: 600px;
  margin: 0 auto 50px;
  background: #3F3244;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
}

/********** MEDIA QUERIES **********/

@media screen and (min-width: 530px) {
  ol,
  .code-btn {
    width: 75%;
  }
}

@media screen and (min-width: 680px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    padding: 0 75px;
  }

  header > hr {
    display: none;
  }

  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion-header > h2 {
    padding-left: 75px;
    text-align: left;
  }

  .accordion-header > hr {
    margin: unset;
    max-width: unset;
    margin-right: 75px;
    min-width: 55%;
  }

  ol {
    position: relative;
    width: 80%;
    border-color: #fff;
  }

  .tab-header {
    position: absolute;
    top: 0px;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 5px;
    border: 1px solid #fff;
    border-bottom: 1px solid #D1D2D3;
  }

  .active > .tab-header {
    background: #fff;
    border: 1px solid #D1D2D3;
    border-bottom: none;
  }

  .tab-one {
    width: 25%;
  }

  .tab-two {
    left: 25%;
    width: 25%;
  }

  .tab-three {
    left: 50%;
    width: 25%;
  }

  .tab-four {
    left: 75%;
    width: 25%;
  }

  .tab-header > h2 {
    font-size: 18px;
  }

  .toggle {
    display: none;
  }

  .info {
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    padding: 15px;
    border: 1px solid #D1D2D3;
    border-top: none;
  }

  .image-container {
    min-width: 200px;
    height: 300px;
  }

  .text-container > h3 {
    font-size: 25px;
  }

  .text-container > hr {
    margin: 12px 0;
  }

  .text-container > p {
    font-size: 16px;
  }

  .code-link {
    width: 300px;
  }

}

@media screen and (min-width: 750px) {
  .accordion-header > h2 {
    font-size: 1.8vw;
  }

  .accordion-header > hr {
    width: 60%;
  }
}

@media screen and (min-width: 900px) {
  .accordion-header > hr {
    width: 65%;
  }
}

@media screen and (min-width: 1000px) {
  .accordion-header > hr {
    width: 70%;
  }

  .accordion-header > h2 {
    font-size: 1.6vw;
  }
}
